*{
    font-family: 'DM Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #18181A;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}
